@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
	font-family: 'Raleway', sans-serif;
	margin: 0px;	
}

/* Header */
.header {
	display: flex;
	justify-content: space-between;
	padding: 10px 40px;
}

/*Le logo booki*/
header img {
	width: 100px;
	height: 50px;
	margin-left: 30px;
}

/*Navigation*/
nav ul {
	list-style: none;
	display: flex;
	align-items: center;
	margin-right: 20px;
}
ul li {
	margin: 0px 10px 0px 20px;
}
.navlink:hover {
	color: #0065FC;
}
.navlink {
	display: flex;
	align-items: center;
}

/* Main */
/* Les icons*/
.fas {
    color: #0065fc;
	font-size: 20px;
}
.grey-star {
	color: #d8d9d8;
}
.div-h3p > i {
	position: relative;
	left: 10px;
	bottom: 5px;
	font-size: 14px;
}
.fa-info {
	border: 1px solid #ccc;
	font-size: 12px;
	width: 25px;
	height: 25px;
	box-sizing: border-box;
	padding: 5.5px 9.5px;
	border-radius: 50%;
	margin: 20px 0px 0px 50px;
}
.icon-info-p {
	display: flex;
	align-items: baseline;
}

/* Section 1 */
/* Formulaire de Recherche */
.formulaire {
	display: flex;
	align-items: center;
	width: fit-content;
	height: 50px;
	padding: 0px;
	border: 1px solid #d9d9d9;
	border-radius: 15px;
	margin: 30px 50px;
}
.fa-map-marker-alt {
	width: 50px;
    height: 51px;
	color: black;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
	box-sizing: border-box;
	padding: 15px 18px;
}
#localisation {
	width: 235px;
	height: 48px;
	padding: 0px;
	border: none;
	font-size: 20px;
	font-weight: bold;
	padding-left: 20px;
	margin-top: 2px;
}
#localisation::placeholder {
	color: black;
}
#Recherche {
	width: 135px;
	height: 51px;
	font-size: 17px;
	font-weight: 500;
	color: #FFF;
	background-color: #0065fc;
	padding: 0px;
	border: none;
	border-radius: 0 15px 15px 0;
	margin-bottom: 1px;
	margin-left: 1px;
}
#icon-loca {
	visibility: hidden;
	position: absolute;
}

/* Filtres */
.tt {
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 60px;/*!!!!!!!!!!!!!!*/
}
.ta {
	position: absolute;
	top: 135px;
	left: 40px;
}
.filtres {
	display: flex;
	flex-wrap: wrap;
	padding: 10px 50px;
}
.filtres-bouton {
	font-weight: bold;
	height: 50px;
	display: flex;
	align-items: center;
	border: 2px solid #d9d9d9;
	border-radius: 30px;
	margin-left: 30px;
} 
.filtres-bouton:hover {
	text-shadow: 0px 0px 1px black;
	color: white;
	background: linear-gradient(90deg ,#DEEBFF , #75aafa , #0065FC);
	transition-duration: 3s;
	box-shadow: 0px 0px 20px rgba(36, 74, 133, 0.5);
}
.filtre-icon {
	width: 54px;
    height: 54px;
	position: relative;
	left: -2px;
    background-color: #DEEBFF;
    border-radius: 50%;
	box-sizing: border-box;
    display: flex;
    align-items: center;
	justify-content: center;
}
.filtres-bouton p {
	font-size: 18px;
	font-weight: bold;
	margin: 0px 20px 0px 10px;
}

/* Section 2 - Partie 1: Hébéregements à Marseille*/
.d-flex {
	display: flex;
}
#Hebergements {
	background-color: #F2F2F2;
	border-radius: 30px;
	width: 60%;
	margin: 30px 0px 0px 50px;
}
.h2Hebmar {
	height: 30px;
	padding-left: 50px;
}
.container {
    display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.cardhebergements {
	width: 26%; /*width: 240px;*/
	height: auto;
	border-radius: 20px;
	padding: 5px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	margin: 0px 20px 31px 20px;
	background-color: #FFF;
}
.cardhebergements:hover {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}	
.cardhebergements div {
	position: relative;
    overflow: hidden;
}
.cardhebergements img {
	object-fit: cover;
	width: 100%;
	height: 125px;
	border-radius: 16Px 16px 0px 0px;
}
.div-h3p > h3, p {
	margin: 5px 0px 5px 10px;
	line-height: 20Px;
}
#h3Aficherplus {
	margin: 40px 0px 40px 50px;
}

/* Section 2 - Partie 2: Les Plus Populaires */
#populaires {
	background-color: #F2F2F2;
	border-radius: 30px;
	width: 30%;
	padding: 10px;
	margin: 30px 50px 0px 40px;	
}
.cardpopulaires {
	width: 350px;
	height: 145px;
	border-radius: 20px;
	padding: 5px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	margin: 10px 4% 22px 4%;
	background-color: #FFF;
}
.cardpopulaires:hover {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}	
	
.cardpopulaires img {
	object-fit: cover;
	width: 150px;
	height: 145px;
	border-radius: 16Px 0px 0px 16px;
}
.popubox {
	display: flex;
}
.h2popu {
	height: 30px;
	padding-left: 35px;
}
.fa-chart-line {
	display: flex;
	font-size: 20px;
	color: black;
	position: relative;
	left: 90%;
	top: -45px;
}
a {
	color: black;
}
a:hover {
	color: #0065fc;
}
a:link {
	text-decoration: none;
}

/* Section 3 ( Les Activités ) */
#Activités {
	margin: 30px 50px 0px 50px;
}
.activites {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 30px 50px 30px;
}
.activites-s {
	width: 25%;
	padding: 0px 20px;
}
.activites-cards {
	border-radius: 20px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	background-color: #FFF;
}
.activites-cards:hover {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}	
.activites img {
	object-fit: cover;
	width: 100%;
	border-radius: 20px 20px 0 0;
}
.margin-top {
	margin-top: 30px;
}
/*Redimentionnement des img Activités*/
.actimg1 {
	height: 390px;
}
.actimg2 {
	height: 180px;
}
.actimg3 {
	height: 110px;
}
.actimg5 {
	height: 140px;
}
.actimg6 {
	height: 150px;
}
div .actdivh3 {
	margin: 0px;
}
.actdivh3 h3 {
	padding: 20px 20px 30px 20px;
	margin: 0px;
}

/* Footer */
.footer {
	background-color: #F2F2F2;
	min-width: 768px;
	padding: 50px 20% 50px 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.footer-items > ul {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	line-height: 20px;
	padding: 0px;
	margin: 0px;
	position: relative;
	left: -10px;
}
.footer-items h3 {
	margin-top: 0px;
	margin-left: 10px;
}
.footer-items li {
	margin-bottom: 10px;
}
footer a:link {
	text-decoration: none;
}

/* Media-quries: Smartphones*/
@media screen and (max-width: 768px) {
	.formulaire {
		order: 1;
	}
	#populaires {
		order: 2;
	}
	#Hebergements {
		order: 3;
	}
	#Activités {
		order: 4;
	}
	.footer {
		order: 5;
	}
}
@media screen and (max-width: 768px) {
	body {
		font-size: 16px;
	}
	.header {
		display: block;
		width: 100%;
		padding: 10px 0px;
	}

	/*Le logo booki*/
	header img {
		width: 100px;
		height: auto;
		position: relative;
		align-content: center;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}

	/*Navigation*/
	nav ul {
		justify-content: space-around;
		padding-inline-start: 0px;
		margin-right: 0px;
		width: 100%;
	}
	nav ul li {
		margin: 0px;
		width: 50%;
		text-align: center;
	}
	.navlink {
		display: block;
		align-self: center;
	}
	.navlink:hover {
		color: #0065FC;
		padding-bottom: 10px;
		border-bottom: 3px solid #0065FC ;
	}

	/* Section 1 */
	.tt {
		padding: 20px;
		margin: 0px;
	}
	.tt h2 {
		margin-bottom: 10px;
	}
	.ta {
		padding: 0px;
		margin: 0px;
		position: relative;
		top: 0px;
		left: 0px;
	}
	
	/* Formulaire de Recherche */
	.formulaire {
		margin: 20px 20px;
	}
	#localisation {
		width: 225px;
	}
	#Recherche {
		display: none;
	}
	#icon-loca {
		position: relative;
		width: 50px;
		height: 51px;
		background-color: #0065fc;
		padding: 0px;
		border: none;
		border-radius: 15px;
		margin-bottom: 1px;
		margin-left: 1px;
		visibility: visible;
	}
	.fa-search {
		color: white;
	}

	/* Filtres*/
	.filtres h3 {
		width: 100%;
		padding-left: 20px;
	}
	.filtres {
		padding: 10px;
	}
	.filtres-bouton {
		margin-left: 10px;
		margin-bottom: 15px;
	} 
	.filtres-bouton p {
		font-size: 18px;
		font-weight: bold;
		margin: 0px 10px 0px 10px;
	}
	.icon-info-p {
		margin: 0px 0px 30px -20px;
	}

	/* Section 2 Partie 1 Hébérgemets*/
	.d-flex {
		flex-wrap: wrap;
	}
	#Hebergements {
		background-color: white;
		border-radius: 0px;
		width: 100%;
		height: fit-content;
		padding: 0px 20px;
		margin: 0px;
	}
	.h2Hebmar {
		margin: 35px 0px 10px 0px;
		padding: 0px;
	}
	.cardhebergements {
		width: 100%;
		height: 210px;
		padding: 5px 5px 0px 5px;
		margin: 13px 0px 0px 0px;
	}
	.div-h3p > h3 + p {
		line-height: 20px;
	}
	.div-h3p + p {
		margin-left: 10px;
	}
	

	/* Section 2 Partie 2 Populaires*/
	#populaires	{
		border-radius: 0px;
		width: 100%;
		height: 610px;
		padding: 0px;
		margin: 0px;
	}
	.h2popu {
		margin: 40px 0px 0px 0px;
	}
	.fa-chart-line {
		font-size: 23px;
		position: relative;
		left: 90%;
		top: -35px;
	}
	.cardpopulaires {
		width: 100%;
		height: 140px;
		margin: 0px 20px 15px 20px;
	}
	.cardpopulaires img {
		width: 130px;
		height: 140px;
	}
	.populairesh3 i {
		position: relative;
		font-size: 14px;
	}
	/* Section 3 Activités à marseille */
	#Activités {
		margin: 20px 20px;
	}
	.activites {
		flex-wrap: wrap;
		padding: 0px 10px 40px 10px;
	}
	.activites-s {
		width: 100%;
		padding: 10px;
	}

	/*redimentionnement des img*/
	.activites-cards {
		height: 200px;
	}
	.activites-cards div > img {
		height: 140px;
	}
	.margin-top {
		margin-top: 20px;
	}
	.actdivh3 h3 {
		font-size: 16px;
		padding: 15px 0px 10px 20px;
	}

	/* Footer */
	.footer {
		min-width: 350px;
		padding: 30px 10px;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.footer-items > ul {
		margin-bottom: 20px;
	}
	.footer-items h3 {
		margin-top: 20px;
	}
	.footer-items li {
		margin-bottom: 10px;
	}
}

/* Media-quies: Tablettes */
@media screen and (min-width: 769px) and (max-width: 992px) {

	.header {
		padding: 10px 20px;
	}
	ul li {
		margin: 0px 20px;
	}
	.tt {
		margin-bottom: 30px;
	}
	.ta {
		padding: 0px;
		margin: 0px;
		position: relative;
		top: 0px;
		left: 0px;
	}
	/* Formulaire de Recherche */
	.formulaire {
		margin: 20px 50px ;
	}

	/* Filtres*/
	.filtres {
		padding: 10px;
	}
	.filtres h3 {
		width: 100%;
		margin: 0px 0px 20px 0px;
		padding-left: 40px;
	}
	.filtres-bouton {
		margin-bottom: 20px;
	}
	.filtres-bouton p {
		margin: 0px 20px 0px 10px;
	}
	/* icone */
	.div-h3p > i {
		bottom: 0px;
	}
	/* Section 2 - Partie 1: Hébéregements à Marseille*/
	.d-flex {
		flex-wrap: wrap;
	}
	#Hebergements {
		order: 2;
		width: 100%;
		padding: 10px 10px 10px 15px;
		margin: 30px 50px 30px 50px;
	}
	.h2Hebmar {
		margin-bottom: 0px;
	}
	.container {
		margin
	}
	.cardhebergements {
		width: 42%;
		height: 200px;
		padding: 5px;
		margin: 15px;
	}
	.div-h3p > h3, p {
		font-size: 16px;
		margin: 5px 10px 0px 10px;
		line-height: 20Px;
	}
	.div-h3pp {
		font-size: 16px;
		margin: 5px 10px 0px 10px;
		line-height: 20px;
	}
	#h3Aficherplus {
		margin: 30px 0px 20px 0px;
	}

	/* Section 2 - Partie 2: Les Plus Populaires */
	#populaires {
		order: 1;
		width: 100%;
		margin: 30px 50px 30px 40px;	
	}
	.h2popu {
		padding-left: 15px;
		margin-bottom: -15px;
	}
	.cardpopulaires {
		width: 100%;
		height: 200px;
		/* margin: 0px 10px 20px 10px; */
	}
	.cardpopulaires img {
		object-fit: cover;
		width: 350px;
		height: 200px;
	}
	.populairesh3 > h3, p {
		font-size: 20px;
		margin: 25px 25px 25px 40px;
		line-height: 20px;
	}
	.populairesh3 i {
		position: relative;
		left: 35px;
		font-size: 16px;
		margin-left: 5px;
	}
	.fa-chart-line {
		position: relative;
		left: 90%;
		top: -25px;
	}

	/* Section 3 ( Les Activités ) */
	#Activités {
		margin: 0px 50px;
	}
	.activites {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding: 20px 30px 50px 30px;
	}
	.activites-s {
		width: 100%;
		padding: 0px 20px;
		margin-bottom: 30px;
	}

	/*redimentionnement des img*/
	.activites-cards {
		height: 200px;
	}
	.activites img {
		width: 100%;
	}
	.activites-cards div > img {
		height: 140px;
	}
	.margin-top {
		margin-top: 30px;
	}
	.actdivh3 h3 {
		font-size: 16px;
		padding: 15px 0px 10px 20px;
		margin: 0px;
	}

	/* Footer */
	.footer {
		min-width: 769px;
		padding: 20px 0px 10px 15px;
	}
	.footer-items h3 {
		margin-top: 20px;
	}
	.footer-items > ul {
		padding: 0px;
	}
	.footer-items li {
		margin-bottom: 10px;
	}
} 